// Import Bulma
@import "../node_modules/bulma/bulma.sass";

// Override Bulma variables to GitHub Dark Mode colors
$primary: #24292e; // GitHub dark grey
$primary-invert: findColorInvert($primary);
$dark: #0d1117; // GitHub dark background
$bg-dark: #161b22; // GitHub dark secondary background
$grey-darker: #3a3a3c;
$grey-dark: #2c2c2e;
$grey: #3a3a3c;
$grey-light: #48484a;
$grey-lighter: #636366;
$white: #d6d6d6;
$black: #000000;
$light: #e0e0e0;
$light-invert: findColorInvert($light);
$text: #d0d0d0;

$border: 1px solid rgba(255, 255, 255, 0.2);

// Override Bulma's color variables with GitHub Dark Mode colors
$green: #28a745; // GitHub dark mode green
$red: #d73a49; // GitHub dark mode red
$yellow: #ffd33d; // GitHub dark mode yellow
$blue: #0366d6; // GitHub dark mode blue

// root style
html,
body {
  background-color: $dark;
  color: $text !important;
  max-height: 100vh !important;
}

// Customize navbar
.navbar {
  background-color: $grey-dark;
  color: $text;
}

// Define GitHub Dark Mode colors
$dark-background: #0d1117; // GitHub dark background
$outline-border-color: #161b22; // Slightly lighter grey for the border

// Define common styles for buttons
@mixin button-styles($background-color, $text-color) {
  border: 1px solid $outline-border-color;
  border-radius: 8px; // Rounded corners, typical in GitHub design
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Optional: subtle shadow for depth
  background-color: $background-color;
  color: $text-color;
  transition:
    background-color 0.3s,
    color 0.3s; // Smooth transition for hover effects
  outline: none;
  &:hover {
    background-color: darken($background-color, 5%); // Slightly darker on hover
    color: lighten($text-color, 40%); // Slightly lighter text on hover
  }
}

// Define specific button styles using the mixin
.button {
  @include button-styles($primary, $primary-invert);

  &.is-link {
    @include button-styles($primary, $primary-invert);

    &:hover {
      background-color: lighten($primary, 5%); // Slightly lighten on hover
    }
  }
  &.is-primary {
    @include button-styles($primary, $primary-invert);
  }
  &.is-small {
    @include button-styles($grey, $primary-invert);
  }
  &.is-info {
    @include button-styles($grey, $primary-invert);
  }

  &.is-link.is-outlined,
  &.is-outlined {
    @include button-styles($primary-invert, $grey-lighter);
  }
}

.panel-block {
  border-bottom: none !important;
}

.SampleList {
  background-color: $grey-dark;
  border-color: $grey-dark;
  color: $primary-invert;
}

.sampleContainer:hover {
  width: 100%;
  background-color: darken($primary, 5%); // Slightly darker on hover
  color: lighten($primary-invert, 20%); // Slightly lighter text on hover
}

// Invert glyph icons
.glyphicon {
  background-color: transparent;
  color: $text;
  border: 0;
  .value {
    color: #e0e0e0;
  }
}

// Customize hero
$hero-dark-background-color: $bg-dark;
$hero-dark-color: $white;

.modal {
  background-color: $hero-dark-background-color;
  color: #fff !important;
  border: $border;

  .modal-card-head {
    background-color: $hero-dark-background-color;
    color: $primary-invert;
    border: $border;
  }
  .modal-card-title {
    background-color: $hero-dark-background-color;
    color: $primary-invert;
  }
  .modal-card-foot {
    background-color: $hero-dark-background-color;
    color: $primary-invert;
    border: $border;
  }
  .modal-card {
    background-color: $hero-dark-background-color;
    color: $primary-invert;
  }
  .modal-card-body {
    background-color: $hero-dark-background-color;
    color: $primary-invert;
    border: $border;
  }
  .button {
    background-color: $hero-dark-background-color !important;
    color: $primary-invert;
  }
  .progress {
    height: 2rem;
  }
}
.is-dark {
  background-color: $hero-dark-background-color !important;
  color: $primary-invert;
}

.hero-body {
  background-color: $hero-dark-background-color;
  color: $hero-dark-color;

  border: 1px solid rgba(255, 255, 255, 0.2);
}

// Customize panel
$panel-dark-background-color: $bg-dark;
$panel-dark-color: $white;
$panel-dark-border-color: $grey;

.Pad {
  padding: 0;
  margin: 0 0.5em;
}
.select {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Optional: subtle shadow for depth
  &.is-small {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color: $primary-invert;
    text-align: center;
  }
}
.select {
  .control {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color: $primary-invert;
  }

  select {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Optional: subtle shadow for depth
    background-color: $grey-dark;
    color: $primary-invert;
  }
}

// search box
.input {
  background-color: $grey-dark;
  border-color: $grey-dark;
  color: $primary-invert;
}

.panel {
  background-color: $panel-dark-background-color;
  color: $panel-dark-color;
  border-color: $panel-dark-border-color;

  // Style panel heading
  .panel-heading {
    background-color: $grey-dark;
    color: $primary-invert;
  }

  // Style panel tabs if any
  .panel-tabs a {
    color: $panel-dark-color;

    &.is-active {
      border-bottom-color: $panel-dark-color;
    }
  }
}

.level-item.Sample {
  border: none;
  outline: none;
}

.mgrpIcon {
  background-color: $grey-dark;
  border-color: $grey-dark;
  color: $primary-invert;
}

.padOpts {
  min-width: 30em;
  flex-grow: 1;
}

// Custom styles to make level-right take up full available width
.level {
  &.level-right {
    flex-grow: 1;
    justify-content: space-evenly;
    &.value {
      color: $text !important;
      font-size: 12px !important;
      z-index: 300;
    }
    .glyphicon {
      background-color: transparent;
      margin: 0 0.5em;
    }
  }
}

// Customize scrollbars
$scrollbar-thumb-color: #48484a;
$scrollbar-track-color: transparent;

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-color;
}

// For Firefox
* {
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
}

.modal {
  border-color: $grey-dark;
  color: $primary-invert;
}
