// use buttons as links, but remove all button-like style
button.link {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.splash p {
  margin: auto;
  max-width: 50%;
  padding-top: 2em;
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Disable scrolling */
}

/* If you have a root div where your React app is injected */
#root {
  height: 100%;
}
@import "bulma.min.css";
@import "bulma-tooltip.min.css";
@import "icons.css";
@import "apple-dark.css";
@import "imageOverlay.css";
@import "Collapsible.css";
